@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

a {
  color: inherit; }

/*** Screen Sizes ***/
/*** Fonts ***/
h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.3rem; }

/*** Colour Scheme ***/
/*** Style Helpers ***/
/*Grid - Mobile First*/
.grid {
  display: grid;
  grid-template-areas: "nav" "aside" "main" "footer"; }

nav {
  grid-area: nav; }

aside {
  grid-area: aside; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.grid {
  grid-gap: 1em;
  margin: 0 auto;
  height: 100vh;
  grid-template-rows: 6fr 1fr 1fr 50px; }

/***** Grid - Tablets+ *****/
@media (min-width: 840px) {
  .grid {
    display: grid;
    grid-template-areas: "nav nav nav nav nav" ". aside main main ." "footer footer footer footer footer";
    grid-template-rows: 6fr 1fr 250px;
    grid-template-columns: 20px 1fr 2fr 1fr 20px; } }
/**************************************

GENERAL

**************************************/
* {
  box-sizing: border-box; }

body {
  position: relative; }

p {
  margin-bottom: 5px; }

.title-gap {
  display: none;
  padding: 0 10px; }
  @media (min-width: 840px) {
    .title-gap {
      display: inline; } }

/**************************************

HEADER

**************************************/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  padding: 10px;
  z-index: 10;
  transition: 0.3s; }
  @media (min-width: 840px) {
    header {
      justify-content: space-between; } }
  header.scroll {
    transform: translateY(50px); }

.header-title {
  display: none; }

@media (min-width: 840px) {
  .header-title {
    display: inherit; } }
.header-links {
  display: flex;
  flex-direction: row; }

.header-links a {
  margin-right: 10px;
  width: 100px;
  padding: 0.2rem; }

/**************************************

NAV

**************************************/
nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh; }

.nav-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  max-width: 800px; }
  @media (min-width: 840px) {
    .nav-title {
      flex-direction: row;
      align-items: flex-start;
      padding: 4rem; } }

.nav-links {
  padding: 3rem; }

ul.nav {
  list-style-type: none; }
  @media (min-width: 840px) {
    ul.nav {
      display: flex;
      flex-wrap: wrap; } }

.nav a {
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 5px; }

.nav-links a {
  margin: 17px;
  width: 200px;
  padding: 0.5rem; }

.nav-links {
  align-self: center;
  max-width: 800px; }

@media (min-width: 840px) {
  .nav {
    text-align: left; } }
/**************************************

ASIDE/MAIN

**************************************/
aside,
main {
  padding: 1rem;
  margin: 30px 5px; }
  @media (min-width: 840px) {
    aside,
    main {
      margin: 100px 0; } }

aside {
  display: flex;
  flex-direction: column;
  align-items: center; }

.about {
  position: relative;
  margin: 20px; }

.about h2 {
  position: absolute;
  top: -15px;
  left: -15px;
  display: inline; }

.about h2,
.article-banner h2,
.about-content,
.article-title {
  padding: 10px;
  border-radius: 5px; }

.about-image {
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-width: 200px;
  max-width: 300px;
  border-radius: 5px; }

main {
  display: grid;
  grid-gap: 20px; }

.article-wrapper {
  position: relative;
  display: flex;
  align-items: flex-start; }

article {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px; }

.article-image {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 150px;
  height: auto;
  border-radius: 5px; }

.article-banner {
  text-align: center; }

.article-title {
  display: inline; }

.article-title,
.article-date {
  margin-bottom: 10px; }

/**************************************

FOOTER

**************************************/
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

@media (min-width: 840px) {
  .footer-desktop {
    display: flex;
    align-items: center; }

  .email::after {
    content: "email";
    margin-left: 10px;
    font-size: 1.2rem; }

  .codepen::after {
    content: "codepen";
    margin-left: 10px;
    font-size: 1.2rem; }

  .linkedin::after {
    content: "linkedin";
    margin-left: 10px;
    font-size: 1.2rem; }

  .github::after {
    content: "github";
    margin-left: 10px;
    font-size: 1.2rem; } }
/**************************************

GENERAL

**************************************/
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #455a64; }

header,
nav,
aside,
main {
  color: #ffffff; }

/**************************************

HEADER

**************************************/
header {
  background-color: #00bcd4;
  border-bottom: double #ffffff;
  font-size: 1.3rem;
  box-shadow: 0 1px 5px #292929; }

.title {
  color: #212121; }

/**************************************

NAV

**************************************/
nav {
  background-image: url("img/laptop-overhead.jpg");
  background-position: right;
  background-size: cover; }

.nav-title {
  background-image: linear-gradient(to left, #ebebeb, rgba(235, 235, 235, 0.8));
  font-size: 2rem; }

/****** title shading ******/
/*** shading behind letters ***/
.nav-title .title-name,
.nav-title .title-headline {
  position: relative;
  z-index: 1; }

.nav-title .title-name::before {
  position: absolute;
  content: "";
  z-index: -1;
  bottom: 20%;
  left: -4%;
  width: 105%;
  height: 3rem;
  background-color: #7893a1; }

.nav-title .title-headline::before {
  position: absolute;
  content: "";
  z-index: -1;
  bottom: 20%;
  left: 1%;
  display: block;
  width: 105%;
  height: 8px;
  background-color: #7893a1; }

/*** white box ***/
@media (min-width: 840px) {
  .nav-title {
    font-size: 3rem;
    background-image: linear-gradient(to left, rgba(235, 235, 235, 0.8), rgba(235, 235, 235, 0.1)); } }
/***************************/
.nav a {
  color: #ffffff;
  background-color: #607d8b;
  box-shadow: 0 1px 5px #292929;
  text-transform: uppercase;
  font-size: 1.1rem; }

/**************************************

ASIDE/MAIN

**************************************/
aside,
main {
  border-top: 2px solid #cfd8dc;
  border-left: 2px solid #cfd8dc; }

article {
  background-color: #cfd8dc; }

.about h2,
.article-banner h2 {
  background-color: #00bcd4;
  color: #212121;
  box-shadow: 0 1px 5px #292929; }

.article-image {
  border: 1px solid #455a64;
  padding: 5px;
  background-color: #ffffff;
  filter: grayscale(55%); }

.about-content,
.article-title {
  background-color: #00bcd4; }

.article-title,
.article-image {
  box-shadow: 0 1px 5px #292929; }

.article-content {
  color: #212121; }

/**************************************

FOOTER

**************************************/
footer {
  background-color: #bdbdbd;
  color: #757575; }

.nav a:hover {
  color: #212121;
  background-color: #cfd8dc;
  transition: 0.3s; }

footer a:hover {
  color: #212121;
  transition: 0.3s; }

/*# sourceMappingURL=main.css.map */
